<h1 class="text-center mt-3 mb-5">Welcome to your coaching session</h1>

<form action="answer" method="get" class="container">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Type your question</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="answer">
  </div>
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
